#sliders
  margin: 73px auto 0 auto;
  text-align: center;
  position: relative

#slider-po
  margin: 0 auto;
  text-align: center;
  position: relative


.reviews__photos
  position: relative;
  
.three__item
  position: relative;

.reviews__button, .reviews__button-po
  position relative 
.reviews__box
  width:100%;
  position:absolute;
  left:0;
  opacity: 0;
  display: none
.showed
  opacity: 1;
  display: block
.next, .prev
  cursor: pointer
  position: absolute
  display: flex
  top: 170px
.next
  right: -5%
.prev
  left: -5%
  
